/*
@font-face {
    font-family: "NeueHaasUnicaPro-Regular";
    src: url("//db.onlinewebfonts.com/t/466bde28f618f6ea76902f48da3d4c7a.eot");
    src: url("//db.onlinewebfonts.com/t/466bde28f618f6ea76902f48da3d4c7a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/466bde28f618f6ea76902f48da3d4c7a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/466bde28f618f6ea76902f48da3d4c7a.woff") format("woff"), url("//db.onlinewebfonts.com/t/466bde28f618f6ea76902f48da3d4c7a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/466bde28f618f6ea76902f48da3d4c7a.svg#NeueHaasUnicaPro-Regular") format("svg");
}
*/

@import url(//db.onlinewebfonts.com/c/466bde28f618f6ea76902f48da3d4c7a?family=NeueHaasUnicaPro-Regular);

//theme
@import "theme";

html, body {
  font-size: 16px;
  margin: 0;
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

a {
  border: 0;
  outline: 0;
  text-decoration: none;
  color: inherit;
}

button {
  position: relative;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 591px) {
  html {
    font-size: 12px;
  }
}